
<form (submit)="editarLancamento()">
	<mat-dialog-content>	
	<h2>Modificar {{data.lancamento.descricao}}</h2>
		<mat-form-field>
			<mat-label>Valor</mat-label>
			<input matInput [formControl]="valorControl">
			<mat-error *ngIf="valorControl.invalid">{{getMensagemErroValor()}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Selecione uma data</mat-label>
			<input matInput [matDatepicker]="picker" readonly [formControl]="dataControl">
			<mat-hint>DD/MM/YYYY</mat-hint>
			<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
			<mat-error *ngIf="dataControl.invalid">Data inválida</mat-error>
		</mat-form-field>
	</mat-dialog-content>
	
	<mat-dialog-actions align="end">
		<button mat-button mat-dialog-close>Cancelar</button>
		<button mat-flat-button color="primary" cdkFocusInitial>Confirmar</button>
	</mat-dialog-actions>
</form>